<a
        href="#newsletter_subscriber/list"
        id="nav-newsletter_subscriber"
        data-url="{{ path('open_orchestra_api_newsletter_subscriber_list') }}"
        data-add="{{ path('open_orchestra_newsletter_subscriber_new') }}"
        data-displayed-elements="last_name, first_name, email, site_id"
        data-visible-elements="last_name, first_name, email, site_id"
        data-translated-header="{{ 'open_orchestra_newsletter.left_menu.administration.element.last_name' | trans }}, {{ 'open_orchestra_newsletter.left_menu.administration.element.first_name' | trans }}, {{ 'open_orchestra_newsletter.left_menu.administration.element.email' | trans }}, {{ 'open_orchestra_newsletter.left_menu.administration.element.site_id' | trans }}"
        title="{{ 'open_orchestra_newsletter.left_menu.administration.newsletter_subscriber.list'|trans }}"
        >
    {{ 'open_orchestra_newsletter.left_menu.administration.newsletter_subscriber.list'|trans }}
</a>
